<% for ( var i = 0; i < songs.length; i++ ) {%>
    <% var song = songs[i]; %>
    <% if ( song.artist ) {%>
        <li class="search__song" data-song-url="<%= song.url %>">
            <span class="search__artist"><%= song.artist %></span>
            <span class="search__title"><%= song.title %></span>
        </li>
    <% } %>
<% } %>