<h2>Поиск музыки</h2>
<form class="search__search" onsubmit="return false;">
    <input type="text" name="search" class="search__search__field">
    <button type="submit">Искать</button>
</form>

<ul class="search__list">

</ul>