<div class="controls">
    <button class="controls__play js-control" data-action="play">Play</button>
    <button class="controls__stop js-control" data-action="stop">Stop</button>
    <button class="controls__pause js-control" data-action="pause">Pause</button>
    <button class="controls__next js-control" data-action="next">Next</button>
    <button class="controls__prev js-control" data-action="prev">Prev</button>
    <div class="controls__volume">Vol.</div>
</div>