<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mafon</title>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="/js/vendors/exoskeleton/exoskeleton.js"></script>
    <script>
        // Передаем параметры приложения
        var require = {
            config: {
                config: {
                    appId       : '<%= appId %>',
                    redirectUrl : '<%= redirectUrl %>'
                }
            }
        };
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
    <h1>Mafon - коллективный плеер <%= appId %></h1>
    <button class="js-open-auth">Авторизация</button>

    <!-- Инклюдим модуль панели управления  -->
    <div class="controls"></div>

    <!-- Инклюдим модуль плейлиста  -->
    <div class="playlist"></div>

    <!-- Инклюдим модуль поиска по музыке  -->
    <div class="search"></div>


    <script data-main="/js/main" src="/js/vendors/requirejs/require.js"></script>
    <script>
        require.config({
            baseUrl: '/js/',
            paths: {
                'ejs' : 'vendors/ejs/ejs.min',
                'text': 'vendors/requirejs-text/text',
                'rejs': 'vendors/requirejs-ejs-plugin/rejs'
            },
            shim: {
                ejs: {
                    exports: 'ejs'
                }
            },
        });
    </script>
</body>
</html>